body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Aqui seleccionamos el font-family para el sitio completo */
* {
  font-family: "Bebas Neue", sans-serif;
  color: white;
};



.bookshelf-background {
  background: url('./assets/imgs/bookshelf.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: for rounded corners */
  margin-bottom: 20px; /* Space below the bookshelf */
  border: 2px solid black; /* Add a slight black border */
}

